* {
	box-sizing: border-box;
	transition: all 0.5s ease;
}

html {
	font-family: Ubuntu, sans-serif;
	background: hsl(120, 85%, 80%) url('assets/backgrounds/background.png');
}

main {
	min-width: 300px;
	max-width: 600px;
	margin: 20px auto;
	width: 65%;
	padding: 10px 20px;

	background: hsl(30, 45%, 70%) url('assets/backgrounds/paper.png');
	box-shadow: 3px 3px 8px;
}

footer {
	font-weight: bold;
	font-variant: small-caps;
}

h1 {
	text-align: center;
	font-variant: small-caps;
}

a {
	text-decoration: none;
	color: inherit;
}

ul.lists, ul.items {
	list-style: none inside;
	padding-left: 0;
}

ul.lists li, ul.items li, form.singleline {
	margin-top: 6px;

	box-shadow: 1px 1px 2px black;
	background: white;
}

.item, form.singleline {
	display: flex;
	overflow: hidden;
}

li .content {
	padding: 6px;
	flex: auto;
	font-size: inherit;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

form.singleline:hover {
	background: white;
}

form.inline {
	text-align: left;
}

form.singleline > * {
	flex: auto;
}

form.singleline button {
	flex: 1;
}

form.singleline input {
	margin: 0;
	padding: 6px;
	width: 100%;

	font-size: inherit;
	background: inherit;
	border: none;
}

form.inline button, form.singleline button, .button {
	border: none;
	padding: 5px 6px;
	cursor: pointer;

	font-size: inherit;
}

form.inline button {
	padding: 0;
	height: 100%;
}

.button {
	box-shadow: 1px 1px 2px black;
}

.green, .success {
	background: hsl(120, 85%, 70%) url('assets/backgrounds/green.png') !important;
}

.red, .warning {
	background: hsl(0, 85%, 70%) url('assets/backgrounds/red.png') !important;
}

.blue {
	background: hsl(220, 85%, 70%) url('assets/backgrounds/blue.png') !important;
}

.orange {
	background: hsl(25, 85%, 70%) url('assets/backgrounds/orange.png') !important;
}

.purple {
	background: hsl(280, 85%, 70%) url('assets/backgrounds/purple.png') !important;
}

.yellow {
	background: hsl(60, 85%, 70%) url('assets/backgrounds/yellow.png') !important;
}

.white, ul.items li {
	background: white url('assets/backgrounds/white.png') !important;
}

.note {
	display: block;
	margin: 20px auto;
	width: auto;
	padding: 12px;
	text-align: center;

	box-shadow: 1px 1px 2px black;
}

.indent {
	margin-left: 1em;
}

.onparenthover {
	width: 0;
}

*:hover > .onparenthover {
	width: auto;
}
